<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs6ujmNRFr1lGvkAttvDJbj8tCEeQ4Vk8</string>
	<key>GCM_SENDER_ID</key>
	<string>16771840661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.briefdaily</string>
	<key>PROJECT_ID</key>
	<string>briefdaily</string>
	<key>STORAGE_BUCKET</key>
	<string>briefdaily.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16771840661:ios:f669c85e786991d47ff99c</string>
</dict>
</plist>